<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head th:replace="base :: headstuff">
</head>
<body>
<h2>Insecure Page</h2>
<div class="container"><nav th:replace="base :: navbar"></nav>
    <br/>
    <a href="/add">Add a new thought?</a><br/>
    <br/>
    <div th:each="message : ${messages}">
        <div th:replace="base :: message"></div>
    </div>
    <nav th:replace="base :: foot"></nav>
    <th:block th:replace="base :: jslinks"></th:block>
</div>
<a href="/secure">Login Page</a>

</body>
</html>