<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head th:replace="base :: headstuff">
</head>
<body>
<div class="container"><nav th:replace="base :: navbar"></nav>
    <br/>

    <!--show only for non-logged-in users-->
    <div sec:authorize="isAnonymous()">
        <a href="/secure">Login Page</a>
    </div>

    <!--add thought for logged in user or admin-->
    <div sec:authorize="isAuthenticated()">
        <a href="/add">Add a new thought?</a><br/>
    </div>

    <br/>
    <div th:each="message : ${messages}">
        <div th:replace="base :: message"></div>
    </div>

    <nav th:replace="base :: foot"></nav>
    <th:block th:replace="base :: jslinks"></th:block>

</div>
</body>
</html>