<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head th:replace="base :: headstuff">
</head>
<body>

<div class="container"><nav th:replace="base :: navbar"></nav>
<h4>New User Registration</h4>
<form class="form-group" autocomplete="off"
      action="#"
      th:action="@{/register}"
      th:object="${user}" method="post">

    First Name<strong>
    <span th:if="${#fields.hasErrors('firstName')}"
          th:errors="*{firstName}">First Name Error</span></strong>
    <input class="form-control" type="text" id="firstName" placeholder="First Name"
           th:field="*{firstName}"/><br/>

    Last Name<strong>
    <span th:if="${#fields.hasErrors('lastName')}"
          th:errors="*{lastName}">Last Name Error</span></strong>
    <input class="form-control" type="text" id="lastName" placeholder="Last Name"
           th:field="*{lastName}"/><br/>

    Email<strong>
    <span th:if="${#fields.hasErrors('email')}"
          th:errors="*{email}">Email Error</span></strong>
    <input class="form-control" type="text" id="email" placeholder="Email"
           th:field="*{email}"/><br/>

    Username<strong>
    <span th:if="${#fields.hasErrors('username')}"
          th:errors="*{username}">Username Error</span></strong>
    <input class="form-control" type="text" id="username"
           placeholder="Username" th:field="*{username}"/><br/>

    Password<strong>
    <span th:if="${#fields.hasErrors('password')}"
          th:errors="*{password}">Passord Error</span></strong>
    <input class="form-control" type="text" id="password" placeholder="Password"
           th:field="*{password}"/><br/>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

</body>
</html>